<div class="register  p-0   ">

  <div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()" class="container mx-auto">
      @if (errMsg) {
        <div class="alert">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 animate-pulse" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            <p class="m-0 p-0">{{errMsg}}</p>
          </div>
        </div>
      }
      
      <div class="relative z-0 w-full mb-10 group">
        
        <input formControlName="name" type="text" id="name"
          class="form-input dark:focus:border-[#0aad0a] focus:outline-none focus:ring-0 focus:border-[#0aad0a] peer"
          placeholder=" " required />
        <label for="name"
          class="form-label">Name</label>
        @if(registerForm.get('name')?.errors && registerForm.get('name')?.touched){
        <div class="alert">
          @if(registerForm.get('name')?.errors?.['required']){

          <p class="p-0">Name is required.</p>
          }
          @else if(registerForm.get('name')?.errors?.['minlength'] ) {

          <p class="p-0">Name Min length is : 3.</p>
          }

          @else if(registerForm.get('name')?.errors?.['maxlength'] ) {

          <p class="p-0">Name Max length is : 8.</p>
          }
        </div>

        }

      </div>

      <div class="relative z-0 w-full mb-10 group">
        <input formControlName="email" type="email" id="email"
          class="form-input dark:focus:border-[#0aad0a] focus:outline-none focus:ring-0 focus:border-[#0aad0a] peer"
          placeholder=" " required />
        <label for="email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:left-auto peer-focus:text-[#0aad0a] peer-focus:dark:text-[#0aad0a] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
        @if(registerForm.get('email')?.errors && registerForm.get('email')?.touched){

        <div class="alert">
          @if(registerForm.get('email')?.errors?.['required'] ){


          <p class="p-0">Email is required.</p>
          }
          @else if(registerForm.get('email')?.errors?.['email'] ){


          <p class="p-0">Email Must be user"&#64;"gmail.com</p>
          }
        </div>
        }

      </div>

      <div class="relative z-0 w-full mb-10 group">
        <input formControlName="password" type="password" id="password"
          class="form-input dark:focus:border-[#0aad0a] focus:outline-none focus:ring-0 focus:border-[#0aad0a] peer"
          placeholder=" " required />
        <label for="password"
          class="form-label">Password</label>
        @if(registerForm.get('password')?.errors && registerForm.get('password')?.touched){
        <div class="alert">
          @if(registerForm.get('password')?.errors?.['required']){

          <p class="p-0">Password is required.</p>
          }
          @else if(registerForm.get('password')?.errors?.['pattern']){

          <p class="p-0">Password Must be Strong & include[a-z][A-Z],[0-9], Special Charcters.</p>
          }
        </div>
        }

      </div>

      <div class="relative z-0 w-full mb-10 group">
        <input formControlName="rePassword" type="password" id="repeat_password"
          class="form-input dark:focus:border-[#0aad0a] focus:outline-none focus:ring-0 focus:border-[#0aad0a] peer"
          placeholder=" " required />
        <label for="repeat_password"
          class="form-label">RePassword</label>
        @if(registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched){
        <div class="alert">
          @if(registerForm.get('rePassword')?.errors?.['required']){

          <p class="p-0">rePassword is required.</p>
          }
          @else if(registerForm.get('rePassword')?.errors?.['mismatch']){

          <p class="p-0">Repassword Must be Match Password</p>
          }


        </div>
        }
      </div>

      <div class="relative z-0 w-full mb-10 group">
        <input formControlName="phone" type="tel" id="phone"
          class="form-input dark:focus:border-[#0aad0a] focus:outline-none focus:ring-0 focus:border-[#0aad0a] peer"
          placeholder=" " required />
        <label for="phone"
          class="form-label">Phone</label>
        @if(registerForm.get('phone')?.errors && registerForm.get('phone')?.touched){
        <div class="alert">
          @if(registerForm.get('phone')?.errors?.['required']){

          <p class="p-0">phone is required.</p>
          }
          @else if(registerForm.get('phone')?.errors?.['pattern']){

          <p class="p-0">phone Must be Egyption Number</p>
          }
        </div>
        }
      </div>

      <button [disabled]="registerForm.invalid" type="submit"
        class=" btn-sub text-white  text-2xl focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg w-full sm:w-auto px-10 py-2.5 text-center float-end ">
        @if(isLoading) {
        <span><i class="fa fa-spin fa-spinner"></i></span>
        }@else{
        <span>Register</span>



        }</button>
    </form>
  </div>
</div>