  

<div class="email-form">

    <div class="  w-3/4 mx-auto">
      @if (emailFormFlage) {
      
      @if (errMsg) {
          <div class="alert">
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 animate-pulse" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
              <p class="m-0 p-0">{{errMsg}}</p>
            </div>
          </div>
        }
  
      <h2 class=" text-lg font-semibold my-3">Email Confirm</h2> 

      <form [formGroup]="emailForm" (ngSubmit)=" submitEmailform()">

              <div class="relative z-0 w-full mb-10 group">
            <input formControlName="email" type="email" id="email"
              class="form-input dark:focus:border-[#0aad0a] focus:outline-none focus:ring-0 focus:border-[#0aad0a] peer"
              placeholder=" " required />
            <label for="email"
              class="form-label">Email</label>
              @if(emailForm.get('email')?.errors && emailForm.get('email')?.touched){
                  <div class="alert">
                    @if(emailForm.get('email')?.errors?.['required'] ){
                      <p class="p-0">Email is required.</p>
                    }
                    @else if(emailForm.get('email')?.errors?.['email'] ){
                      <p class="p-0">Email Must be user"&#64;"gmail.com</p>
                    }
                  </div>
                }
              <button  [disabled]="emailForm.invalid"  class="btn-sub my-5 text-white text-2xl focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg w-full sm:w-auto px-10 py-2.5 text-center float-end">
              @if(isLoading) {
                  <span><i class="fa fa-spin fa-spinner"></i></span>
                } @else {
                  <span>Send Email</span>
                }
              </button>
          </div>
     

      </form>
    }

    @if (codeFormFlage) {
      <app-send-code></app-send-code>
    }


   
  </div>

    
  
</div>