<footer class="bg-gray-100 p-16 ">
    <div class="container mx-auto  ">
      <h2 class="m-0 text-xl font-bold">Get The FreshCart App</h2>
      <p class="text-gray-600 text-sm">
        We will send you a link, open it on your phone to download the app.
      </p>
  
      <div class="flex items-center gap-3 mt-3">
        <input
          type="text"
          class="form-control border border-gray-300 rounded p-2 flex-1"
          placeholder="Email"
        />
        <button class=" btn-sub text-white py-2 px-4 rounded ">
          Share App Link
        </button>
      </div>
  
      <hr class="my-5" />
  
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2">
          <h3 class="text-lg font-semibold m-0">Payment Partners</h3>
          <img src="assets/images/amazon-pay.png" class="w-8" alt="Amazon Pay" />
          <img
            src="assets/images/American-Express-Color.png"
            class="w-8"
            alt="American Express"
          />
          <img src="assets/images/paypal.png" class="w-8" alt="Paypal" />
          <img src="assets/images/mastercard.webp" class="w-8" alt="Mastercard" />
        </div>
  
        <div class="flex items-center gap-2">
          <h3 class="text-lg font-semibold m-0">Get Deliveries with FreshCart</h3>
          <img
            src="assets/images/get-google-play.png"
            class="w-20"
            alt="Google Play"
          />
          <img
            src="assets/images/get-apple-store.png"
            class="w-20"
            alt="Apple Store"
          />
        </div>
      </div>
    </div>
  </footer>
  